@media only screen and (min-width: 40rem) {

    #thing section {

    grid-template-areas: 
    "photo name"
    "photo description"
    "photo location"
    "photo author";
    }

    #thing figure {
        width: 300px;
    }

    #thing button {
        grid-column: 2/7;
    }

    #thing img:hover {
        height: 225px;
    }

}