/******************************* Header ***********************/
header {
    padding: 25px 25px 15px 15px;
    display: flex;
    background-color: #852525;
}

header img {
    width: 16vw;
    height: auto;
}

header span {
    font-size: 7.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #bed3d8;
}

header button {
    width: 3rem;
    height: auto;
    align-self: center;
    margin-left: auto;
}

/******************************* Hamburger ***********************/

.hamburger {
    background: none;
    border: none;
    color: #bed3d8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 3rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 3rem;
}

/******************************* Nav Bar ***********************/

.links {
    display: none;
}

.links.show {
    display: block;
}

.links a.visited {
    color: #675fb3;
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links a {
    display: block;
    font-size: 10vw;
    color: #d0e5eb;
    text-decoration: none;
    border-bottom: solid 2px #080714;
    background-color: #675fb3;
    padding: 1rem 75px;
}

.links li.current a {
    background-color: #4c4877;
    pointer-events: none;
}

.links a:hover {
    background-color: #232035;
}

/******************************* Main ***********************/

h1 {
    font-size: 20vw;
    margin-left: 65px;
    color: #232035;
}

.about {
    padding: 20px;
}

.about h2 {
    background-color: #232035;
    color: #d0e5eb;
    font-size: 20vw;
    padding: 2rem;
    display: block;
    text-align: center;
    margin: 0;
    border-radius: 9px;
}

.about p {
    background-color: #c2c1c1;
    margin: 0;
    border-radius: 9px;
    font-size: 10vw;
    color: #232035;
    padding: 45px;
    text-align: center;
}

.photo {
    padding: 20px;
}

.photo div {
    background-color: #c2c1c1;
}

.photo h2 {
    background-color: #232035;
    color: #d0e5eb;
    font-size: 15vw;
    padding: 2rem;
    display: block;
    text-align: center;
    margin: 0;
    border-radius: 9px;
}

.photo img {
    display: block;
    justify-self: center;
    align-self: center;
    padding: 80px 0;
    width: 70vw;
    height: auto;
}

.courses {
    padding: 20px;
}

.courses h2 {
    background-color: #232035;
    color: #d0e5eb;
    font-size: 15vw;
    padding: 2rem;
    display: block;
    text-align: center;
    margin: 0;
    border-radius: 9px;
}

.buttons ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0.4rem;
}

.buttons ul li {
    font-size: 5vw;
}

.buttons button {
    background-color: #c2c1c1;
    cursor: pointer;
    padding: 25px 8vw;
    border-radius: 30px;
    border: solid 4px #232035;
}

.buttons button:hover {
    background-color: #852525;
    color: #d0e5eb;
}

.sad-bars {
    font-size: 4rem;
}

.sad-bars ul {
    padding: 0;
    margin-bottom: 0;
}

.sad-bars li {
    list-style-type: none;
}

.sad-bars button {
    background-color: #c2c1c1;
    border: solid 2px #232035;
    color: black;
    cursor: pointer;
    margin: 2rem 0;
    text-align: center;
    border-radius: 9px;
    padding: 9vh 5rem;
}

.sad-bars .completed button {
    background-color: #232035;
}

.sad-bars .completed button {
    color: #d0e5eb;
}

.courses p {
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
}

/******************************* Footer ***********************/

.things {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.things img {
    width: 10vw;
    height: auto;
}

.things .linkedin {
    padding-left: 24px;
}

.copyright {
    font-size: 6.5vw;
    text-align: center;
    padding: 3rem 0 1rem 0;
    background-color: #c2c1c1;
    margin-top: 50px;
    color: #232035;
}

/******************************* Dialog ***********************/

.details {
    border: #232035 3px solid;
    background-color: #c2c1c1;
    width: 70%;
    height: 60%;
}

.details::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

.details h2 {
    background-color: #232035;
    color: #d0e5eb;
    text-align: center;
    border-radius: 8px;
    padding: 10px 0;
}

.details button {
    display: flex;
    justify-self: end;
    color: #852525;
    background-color: #bed3d8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 40px;
    height: 40px;
    font-size: 30px;
}

.details button:hover {
    color: #bed3d8;
    background-color: #852525;
    cursor: pointer;
}

.details p {
    font-size: 1.5rem;
}